Gnome Setup
=========

This Roles builds a customized gnome desktop environment.
It includes a bunch of {{ dconf }} settings as well as extensions and themes beeing installed all in one go.

Extensions (not available on every distro):
{% for extension in extension_list -%}
- [{{ extension.name }}]({{ extension.link }})
{% endfor %}
Themes:
{% for theme_type, value in theme_list.items() -%}
- {{ theme_type }}: [{{ value.name }}]({{ value.link }})
{% endfor %}

Additionally this role includes a full vagrant based molecule testing setup for {{ vm_list | join(", ") }} VMs at {{ test_env_path }}

Structure
---------
```
{{ dir_structure }}
```

The variables are split up into three files according to their content (`common.yml`, `extensions.yml`, `themes.yml`).
The same goes for tasks and they are addtionally prefixed with `present` or `absent` depending on them beeing intended to setup a certain feature or remove it.
As you can see currently the absent implementation only exist in one single file since it's feasable for my curernt usecase.
The tasks related to extensions and tehemes are split up into handelers and the actual setup tasks.
The handlers are meant to take care o preparation steps and check if the extensions/themes are already present or not.
In case not they loop over the tasks to setup and run their install routine implemented in (`present_extension` and `present_themes`)

Requirements
------------

Currently the role expects vagrant users profile pictures to be located at {{ profile_picture_path }} by default, but this will change in future development.
The following packages are required but will also be installed by the role automatically.

{% for os_family, dependencies in global_dependencies.items() -%}
**{{ os_family }} based systems**
{% for dependency in dependencies -%}
- {{ dependency }}
{% endfor %}
{% endfor -%}

Role Variables
--------------

# TODO grab from files and include description in structure too
- defaults/main/common.yml
  - user_install_dir: Custom install directory inside users home directory
  - additional_rhel_repos: Extra repositories for RedHat based distros like CentOSStream9, AlmaLinux, Rocky, ...
  - gnome_packages: Gnome default package lists per distrobution
  - obsolete_packages: Gnome default packages to remove from base install
  - gdm_config_file: Path to gdm configuration file per distribution
  - gnome_base_settings: Gnome dconf settings to change per gnome major version number
- defaults/main/extensions.yml
  - gnome_extensions: list of extensions including their os family specific names and including dconf settings if required
  - git_ext: List of extensions to be installed from custom sources using git and their respective git realted information
  - extension_paths: directories gnome extensions should be installed in
  - obsolete_gnome_extensions: List of extensions to remove from default gnome-shell install
- defaults/main/themes.yml
  - gnome_themes: Dictionary of theme types having the names as their values and dconf dictionary
  - theme_repo: Dictionary of theme names including their git specific information
  - theme_paths: directories gnome themes should be installed in
  - picture_src_path: profile picture source path
  - picture_dest_path: profile picture destination path
  - profile_config_path: Gnome user profile config path
  - profile_pictures: Dictionary of usernames mapped to theit according profile pictures
  - valid_shells: Shell names to grab valid shell user names from

Dependencies
------------

This role doesn't depend on any additional ansible-galaxy roles

Example Playbook
----------------

Including an example of how to use your role (for instance, with variables passed in as parameters) is always nice for users too:
```yaml
{{ role_present }}
```
License
-------

MIT
