.vscode/
scripts/
group_vars/
host_vars/
hosts
*.code-workspace
remote_control.png
local_files/
debug_playbook.yaml
user.js
thunderbird_role/defaults/main.yml
server002_fedora_vm_setup.yaml
secrets.yml
extensions/molecule/*/boot_analysis
