{% for mail_account in mail_list %}
user_pref("mail.account.account{{ loop.index }}.identities", "id{{ loop.index }}");
user_pref("mail.account.account{{ loop.index }}.server", "server{{ loop.index }}");
user_pref("mail.identity.id{{ loop.index }}.fullName", "{{ mail_account.full_name }}");
user_pref("mail.identity.id{{ loop.index }}.useremail", "{{ mail_account.mail }}");
user_pref("mail.identity.id{{ loop.index }}.valid", {{ provider_settings[mail_account.provider].valid }});
user_pref("mail.server.server{{ loop.index }}.authMethod", {{ provider_settings[mail_account.provider].server_auth_method }});
user_pref("mail.server.server{{ loop.index }}.hostname", "{{ provider_settings[mail_account.provider].server_hostname }}");
user_pref("mail.server.server{{ loop.index }}.port", {{ provider_settings[mail_account.provider].imap_port }});
user_pref("mail.server.server{{ loop.index }}.socketType", {{ provider_settings[mail_account.provider].socket_type }});
user_pref("mail.server.server{{ loop.index }}.type", "{{ provider_settings[mail_account.provider].type }}");
user_pref("mail.server.server{{ loop.index }}.userName", "{{ mail_account.mail }}");
user_pref("mail.smtpserver.smtp{{ loop.index }}.authMethod", {{ provider_settings[mail_account.provider].smtp_auth_method }});
user_pref("mail.smtpserver.smtp{{ loop.index }}.hostname", "{{ provider_settings[mail_account.provider].smtp_hostname }}");
user_pref("mail.smtpserver.smtp{{ loop.index }}.port", {{ provider_settings[mail_account.provider].smtp_port }});

{% endfor %}
{%- set accounts = [] -%}
{%- set smtps = [] -%}
{%- for mail in mail_list -%}
    {%- set _ = accounts.append('account' ~ (loop.index)) -%}
    {%- set _ = smtps.append('smtp' ~ (loop.index)) -%}
{%- endfor -%}
user_pref("mail.accountmanager.accounts", "{{ accounts | join(',') }}");
user_pref("mail.smtpservers", "{{ smtps | join(',') }}");

{% for key, value in thunderbird_settings.items() %}
user_pref("{{ key }}", {{ value }});
{% endfor %}
