[Unit]
Description=mount {{ share_name }} share

[Mount]
What=//{{ file_server }}/{{ share_name }}
Where=/{{ mnt_point }}/{{ share_name }}
Type=cifs
Options=credentials={{ ansible_user_dir }}/.smb,{{ permission }},uid=1000,gid=1000,iocharset={{ charset }},_netdev,{{ serverino }}
DirectoryMode={{ dir_mode }}

[Install]
WantedBy=multi-user.target
