[Unit]
Description=mount {{ share_name }} share

[Mount]
What=//{{ file_server }}/{{ share_name }}
Where=/{{ mnt_point }}/{{ share_name }}
Type={{ fs_type }}
Options={{ smb_mount_options }}
DirectoryMode={{ dir_mode }}

[Install]
WantedBy={{ run_lvl }}
