[Unit]
Description=mount {{ item.mount }} share

[Mount]
What=//{{ file_server }}/{{ item.share }}
Where=/{{ mnt_point }}/{{ item.mount }}
Type={{ fs_type }}
Options={{ smb_mount_options }}
DirectoryMode={{ dir_mode }}

[Install]
WantedBy={{ run_lvl }}
